@supports (aspect-ratio: 1 / 1) {
.svgIcon-arrowDoubleNext {aspect-ratio:24 / 18;height: auto;}
.svgIcon-arrowDoublePrev {aspect-ratio:24 / 18;height: auto;}
.svgIcon-arrowDown {aspect-ratio:12 / 8;height: auto;}
.svgIcon-arrowDownChevron {aspect-ratio:9 / 6;height: auto;}
.svgIcon-arrowExternal {aspect-ratio:10 / 10;height: auto;}
.svgIcon-arrowRight {aspect-ratio:15 / 10;height: auto;}
.svgIcon-arrowRightChevron {aspect-ratio:12 / 18;height: auto;}
.svgIcon-arrowUp {aspect-ratio:7 / 4;height: auto;}
.svgIcon-close {aspect-ratio:13 / 14;height: auto;}
.svgIcon-copy {aspect-ratio:15 / 15;height: auto;}
.svgIcon-download {aspect-ratio:16 / 17;height: auto;}
.svgIcon-emailSm {aspect-ratio:14 / 12;height: auto;}
.svgIcon-facebook {aspect-ratio:24 / 24;height: auto;}
.svgIcon-facebookSm {aspect-ratio:10 / 14;height: auto;}
.svgIcon-fax {aspect-ratio:800px / 800px;height: auto;}
.svgIcon-filter {aspect-ratio:14 / 14;height: auto;}
.svgIcon-filterReset {aspect-ratio:14 / 14;height: auto;}
.svgIcon-global {aspect-ratio:16 / 16;height: auto;}
.svgIcon-instagram {aspect-ratio:23 / 23;height: auto;}
.svgIcon-learnMore {aspect-ratio:24 / 24;height: auto;}
.svgIcon-linkedin {aspect-ratio:24 / 24;height: auto;}
.svgIcon-location {aspect-ratio:11 / 14;height: auto;}
.svgIcon-mobNav {aspect-ratio:800px / 800px;height: auto;}
.svgIcon-pause {aspect-ratio:800px / 800px;height: auto;}
.svgIcon-play {aspect-ratio:800px / 800px;height: auto;}
.svgIcon-preview {aspect-ratio:16 / 16;height: auto;}
.svgIcon-search {aspect-ratio:30 / 30;height: auto;}
.svgIcon-share {aspect-ratio:800px / 800px;height: auto;}
.svgIcon-tel {aspect-ratio:12 / 12;height: auto;}
.svgIcon-telSm {aspect-ratio:14 / 14;height: auto;}
.svgIcon-tick {aspect-ratio:64 / 50;height: auto;}
.svgIcon-time {aspect-ratio:12 / 12;height: auto;}
.svgIcon-twitter {aspect-ratio:12 / 12;height: auto;}
.svgIcon-user {aspect-ratio:24 / 25;height: auto;}
.svgIcon-virtual {aspect-ratio:15 / 17;height: auto;}
.svgIcon-youtube {aspect-ratio:23 / 16;height: auto;}
}