@use '_components.scss';

.nav {
  @apply hidden relative z-[100] text-base w-full;

  @screen xl {
    @apply flex justify-between gap-x-[3.125rem];
  }

  .link {
    @apply hover:text-secondary duration-300;
  }

  > *:not(:last-child) {
    @apply relative;
    
    &::after {
      content: '';
      @apply absolute right-[-1.5rem] top-1/2 h-5 w-[1px] -translate-y-1/2 bg-[#e5e5e5];
    }
  }
}

.hasSub {
  @apply relative;

  a,
  button {
    @apply fontTitle relative flex items-center gap-2 text-[1rem] transition-[color] duration-300 text-black uppercase font-medium;

    .icon {
      @apply w-[12px] h-[6px] text-black transition-[transform,color] duration-300;
    }

    &:hover,
    &:focus-visible {
      @apply text-primary-accent;

      .icon {
        @apply text-primary-accent;
      }
    }
  }

  &.navActive {
    > a,
    > button {
      @apply text-primary-accent !important;

      .icon {
        @apply rotate-180 text-primary-accent !important;
      }
    }
  }

  .subWrap {
    @apply absolute top-[calc(100%+10px)] h-max overflow-hidden rounded-lg border border-solid border-slate-100 min-w-[180px];
    box-shadow: 0px 0px 20px rgba(#000000, 0.1);

    .subWrapInner {
      @apply bg-white p-2 flex;

      li {
        @apply w-full min-w-max py-0;

        &:not(:last-child) {
          @apply relative border-b border-[#e5e5e5] mb-2 pb-2;
        }
      }

      .subNavItem {
        @apply w-full p-2 rounded-sm;

        span {
          @apply text-primary-dark;
        }

        &:hover {
          @apply bg-slate-50;

          span {
            @apply text-primary;
          }
        }
      }
    }
  }
}

.subWrapInner {
  @apply flex gap-8 w-full justify-start;

  > div {
    @apply relative;

    &:not(:last-child)::after {
      content: '';
      @apply absolute top-0 right-[-1rem] h-full w-px bg-[#e5e5e5];
    }
  }
}

.subNavColumWrap {
  @apply flex gap-4 ;

  @screen hd {
    gap: 1rem;
  }

  @screen xxl {
    gap: 3rem;
  }
}

.navColumTitle {
  @apply font-bold mb-4;
}

.subNavColum {
  @apply relative;
  padding: 0 4px;


  &:not(:last-child) {
    &::after {
      content: '';
      @apply absolute right-[-1rem] top-0 h-full w-[1px] bg-[#e5e5e5];
    }
  }

  .navColumList {
    @apply max-w-[320px] w-max;

    ul {
      @apply flex flex-wrap gap-y-1;

      // &.multiColum {
      //   @apply flex-row relative;

      //   &::before {
      //     content: '';
      //     @apply absolute left-[50%] top-0 h-full w-[1px] bg-[#e5e5e5] -translate-x-[1px];
      //   }

      //   li {
      //     @apply w-1/2;

      //     &:nth-child(odd) {
      //       @apply pr-5;
      //     }

      //     &:nth-child(even) {
      //       @apply pl-6;
      //     }
      //   }
      // }

      &.multiColum {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 8px;
        list-style: none;
        padding: 0;
        margin: 0;
        flex-direction: column !important;
      }

      &.singleColum {
        @apply flex-col;

        li {
          @apply w-max;
        }
      }
    }
  }
}

.listItem {
  display: flex;
  padding: 4px 0;

  .imageIcon {
    aspect-ratio: 1;
    max-height: 25px;
    max-width: 25px;
    align-self: center;
  }

  .subNavItem {
    padding-left: 8px;
  }
}

.overlay {
  .hasSub {
    a,
    button {
      @apply text-white;

      .icon {
        @apply text-white;
      }
    }
  }

  .noSub {
    span {
      @apply text-white;

      &:after {
        @apply bg-white !important;
      }
    }

    &:hover {
      span {
        @apply text-white;
      }
    }

    .searchButton {
      @apply w-[20px] flexCenter;
    
      .searchIcon {
        @apply w-5 h-5 text-white;
        width: 20px;
        height: 20px;
      }
    }
  }
}

.searchIcon {
  width: 20px;
  height: 20px;
}

.forceDark {
  .hasSub {
    a,
    button {
      @apply text-black;

      .icon {
        @apply text-black;
      }

      &:hover {
        @apply text-primary-accent;

        .icon {
          @apply text-primary-accent;
        }
      }
    }
  }

  .noSub {
    span {
      @apply text-black;

      &:after {
        @apply bg-black !important;
      }
    }

    &:hover {
      span {
        @apply text-primary-accent !important;
      }
    }
  }
}

.mainNav {
  @apply relative z-10 flex items-center justify-between w-full gap-6;

  @screen hd {
    @apply gap-12;
  }
  .mainNavWrapper {
    @apply relative z-10 flex items-center gap-6;
    transition: transform 0.3s ease;

    .mainNavInner {
      @apply relative z-10 flex items-center gap-6;
      transition: transform 0.3s ease;
      margin-right: -152px;

      &.shiftLeft {
        transform: translateX(-152px)
      }
    }
  }
}

.hideHeader {
  .subNav {
    @apply top-[calc(var(--header-height)+var(--header-bar-height))];
  }
}

.subNav {
  @apply fixed z-0 top-[calc(var(--header-height)+var(--header-bar-height))] left-0 w-full h-auto opacity-0 bg-white transition-[opacity,top] duration-300 pxContent;

  .subNavAniCont {
    @apply border-t border-solid border-transparent;
  }

  &.subNavActive {
    @apply opacity-100;
  }

  .subNavInner {
    @apply relative flex gap-8 py-12 max-w-content mx-auto;
  }

  .subNavClose {
    @apply absolute bottom-0 right-0 flexCenter bg-black px-4;

    .closeIcon {
      @apply w-[7px] h-[7px] text-white;
    }

    .closeLabel {
      @apply text-white text-[14px];
    }

    &:hover,
    &:focus-visible {
      @apply bg-gray-dark;

      .icon {
        @apply text-white;
      }
    }
  }

  .subNavHead {
    @apply flex flex-col gap-2 w-[400px] max-w-[30%];

    .subNavHeadTitle {
      @apply h3 text-white;
    }

    .subNavHeadDescription {
      @apply text-[14px] leading-6 text-white;
    }
  }

  .subNavBody {
    @apply relative flex flex-wrap ml-8 w-full gap-y-12 gap-x-5;
  }
}

.highlightWrap {
  @apply flex items-start gap-8;

  .highlightThumb {
    @apply aspect-[389/210] max-w-[390px] min-w-[390px];

    img {
      @apply whFull object-cover;
    }
  }

  .highlightContent {
    @apply max-w-[320px];

    &.hasDesc {
      @apply min-w-[320px];
    }

    .highlightTitle {
      @apply text-[32px] leading-tight mb-2;
    }

    .highlightDescription {
      @apply text-gray-dark bodyTextSm mb-6;
    }

    .highlightAction {
      @apply block;
    }
  }
}

.searchWrap {
  width: 140px;
  transform: translateX(100%);
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s ease-out, opacity 0.3s ease-out;

  .search {
    @apply flex;

    input {
      @apply h-[40px] bg-white border border-solid border-white px-4 text-sm w-[140px];
      background-color: transparent;
      color: white;
      &:focus-visible {
        @apply outline-dotted outline-black outline-2;
      }
    }
  }
  &.show {
    transform: translateX(0%);
    opacity: 1;
    pointer-events: auto;
  }
}
