@use './_components.scss';

.btn {
  @apply block transition-[filter,opacity,color,background] duration-300;

  //! Default Element in Button
  .btnLabel {
    @apply inline-block btnMd break-keep uppercase;
  }

  .buttonIconWrap {
    @apply inline-block;

    &.iconExternal {
      @apply w-2 !h-[9px];
    }
  }

  //! Status
  &.disabled,
  &:disabled {
    @apply pointer-events-none grayscale-[1] opacity-50;

    * {
      @include mixin.preventDrag();
    }
  }

  //! Language
  &.en {
    @apply fontTitle;
  }

  &.zh,
  &.zh-hant,
  &.tc {
    @apply fontBody;
  }

  //! Size
  &.md {
    .btnLabel {
      @apply text-[14px];

      @screen md {
        @apply btnMd;
      }
    }
  }

  &.sm {
    .btnLabel {
      @apply btnSm;
    }

    .buttonIconWrap {
      @apply w-[9px] h-[9px] !important;
    }
  }

  &.lg {
    @apply h-[52px] leading-[52px];

    .btnLabel {
      @apply text-[1.125rem] font-normal;
    }
  }

  //! Icon Position
  &.hasIcon {
    @apply flex;

    &.iconLeft {
      @apply flex-row-reverse;
    }

    &.iconRight {
      @apply flex-row;
    }
  }

  // ! Button Shape
  &.horizontal {
    &.contain,
    &.outline {
      @apply inline-flex justify-center items-center gap-2;
      @apply min-w-[160px] h-[40px] leading-[40px] px-8;

      .buttonIconWrap {
        @apply w-4 h-4;
      }
    }
  }

  &.square {
    .btnLabel {
      @apply hidden;
    }

    &.contain,
    &.outline,
    &.default {
      @apply flexCenter;

      .buttonIconWrap {
        @apply transition-[width,height] duration-300 ease-in-out;
      }
    }

    &.default {
      &:after {
        @apply hidden;
      }
    }

    &.sm {
      &.contain,
      &.outline,
      &.default {
        @apply flexCenter;
        @apply w-[40px] h-[40px] leading-[40px];

        .buttonIconWrap {
          @apply w-[14px] h-[14px];
        }
      }
    }

    &.md {
      &.contain,
      &.outline,
      &.default {
        @apply flexCenter;
        @apply w-[48px] h-[48px] leading-[48px];

        .buttonIconWrap {
          @apply w-[16px] h-[16px];
        }
      }

      &:hover,
      &:focus-visible {
        .buttonIconWrap {
          @apply w-[24px] h-[24px];
        }
      }
    }

    &.lg {
      &.contain,
      &.outline,
      &.default {
        @apply flexCenter;
        @apply w-[80px] h-[80px] leading-[80px];

        .buttonIconWrap {
          @apply w-[24px] h-[24px];
        }
      }
    }
  }

  //! Color Variant
  &.default {
    @apply relative inline-flex justify-center items-center gap-2;

    .buttonIconWrap {
      @apply w-4 h-4;
    }

    .btnLabel {
      @apply relative;

      &:after {
        @apply content-[''] absolute -bottom-[1px] right-0 w-0 h-[1px] transition-width ease-in-out;
      }
    }

    &.primary {
      @apply text-black;

      &:hover,
      &:focus-visible {
        @apply text-primary-accent;
      }

      .btnLabel {
        &:after {
          @apply bg-primary-accent;
        }
      }
    }

    &.overlay {
      @apply text-white;
      outline-color: white !important;

      .btnLabel {
        &:after {
          @apply bg-white;
        }
      }
    }

    &:hover,
    &:focus-visible {
      .btnLabel {
        &:after {
          @apply w-full left-0 right-auto;
        }
      }
    }
  }

  &.contain {
    @apply text-white;

    &.primary {
      @apply bg-black;

      &:hover,
      &:focus-visible {
        @apply bg-gray-dark;
      }
    }

    &.overlay {
      @apply text-white bg-black;
      outline-color: white !important;

      &:hover,
      &:focus-visible {
        @apply bg-gray-dark;
      }
    }
  }

  &.outline {
    @apply border border-solid;

    &.primary {
      @apply border-black;

      &:hover,
      &:focus-visible {
        @apply bg-gray-dark text-white border-gray-dark;
      }
    }

    &.overlay {
      @apply border-white text-white;
      outline-color: white !important;

      &:hover,
      &:focus-visible {
        @apply bg-black border-black;
      }
    }
  }
}
