@use './_components.scss';

.productList {
  @apply whFull pxContent;
  @apply pb-0 !important;

  .inner {
    @apply max-w-content mx-auto;
  }

  .productFilter {
    .filterUtils {
      @apply flex justify-between items-center py-4;
      @apply border-b border-solid border-black;

      .filterController {
        @apply flexCenter gap-5;

        button {
          &:hover {

            .controlIcon,
            .controlLabel {
              @apply text-primary-accent;
            }
          }
        }

        .controlItem {
          @apply relative flex items-center gap-2 transition-opacity;

          .controlIcon {
            @apply w-3 h-3 text-black;
          }

          .controlLabel {
            @apply font-medium text-sm uppercase;
          }

          &.hasAction {
            @apply pointer-events-none opacity-30;

            &.active {
              @apply pointer-events-auto opacity-100;
            }
          }

          +.controlItem {
            &:before {
              @apply content-[''] w-[1px] h-[14px] bg-black absolute yCenter left-[-10px];
            }
          }
        }
      }

      @media (max-width: 480px) {
        .filterController {
          margin-top: 20px;
        }
      }
    }

    @media (max-width: 480px) {
      .filterUtils {
        flex-direction: column-reverse;
      }
    }

    .filterInner {
      @apply relative w-full h-full flex;

      .categories {
        @apply w-2/12 py-[30px] px-4 text-sm;
        min-width: 174px;
      }

      @media (max-width: 600px) {
        .categories {
          width: 100%;
        }
      }

      .subCategory {
        @apply pl-4;
      }

      .resultWrap {
        @apply w-10/12 h-auto;
        width: 100%;

        .resultInner {
          @apply w-[calc(100%-30px)] min-h-[750px] bg-[#FCFCFC] ml-[30px];
        }

        @media (max-width: 600px) {
          .resultInner {
            margin: 0;
            width: 100%;
          }
        }
      }
    }

    @media (max-width: 600px) {
      .filterInner {
        flex-direction: column;
      }
    }
  }
}

.searchWrap {
  .search {
    @apply flex;

    input {
      @apply h-[40px] bg-gray-lightest border border-solid border-gray-light border-r-0 px-4 text-sm w-[200px];

      &:focus-visible {
        @apply outline-dotted outline-black outline-2;
      }
    }

    .searchButton {
      @apply w-[40px] flexCenter bg-black;

      .searchIcon {
        @apply w-5 h-5 text-white;
      }

      &:hover,
      &:focus-visible {
        @apply bg-gray-dark;
      }
    }
  }
}

.categories {
  @apply flex flex-col items-start gap-[6px];

  .categoryGroup {
    @apply relative w-full;
    display: flex;
    flex-direction: column;

    .buttonGroup {
      display: flex;
    }
  }
}

.toggleSubCategory {
  @apply w-6 h-6 flexCenter opacity-30 transition-all rounded-full;
  float: right;

  .toggleIcon {
    @apply w-[8px] h-[10px] text-gray-dark;
  }

  &.active {
    @apply rotate-180 opacity-100;
  }

  &:hover,
  &:focus-visible {
    @apply bg-gray-lightest opacity-100;

    .toggleIcon {
      @apply text-black;
    }
  }
}

.categoryItem {
  @apply w-full;

  .selectLabel {
    @apply text-base;
  }

  @media (max-width: 1179px) {
    .selectLabel {
      @apply text-sm;
    }
  }

  .selectCheck {
    @apply w-5 h-5 rounded-full;
    min-width: 20px;
    min-height: 20px;
  }
}

.subCategoryItem {
  .selectLabel {
    @apply text-sm;
  }

  .selectCheck {
    @apply w-4 h-4 rounded-[4px];
    min-width: 16px;
    min-height: 16px;
  }
}

.subCategory {
  @apply overflow-hidden;

  .subCategoryInner {
    @apply flex flex-col gap-[2px] items-start mt-2 pb-4;
  }
}

.categoryItem,
.subCategoryItem {
  @apply flex items-center justify-start gap-2 py-1 leading-none;

  .selectCheck {
    @apply border border-solid border-gray-light flexCenter transition-colors;

    .checkIcon {
      @apply w-2 h-2 text-white opacity-0;
    }
  }

  .selectLabel {
    @apply text-left leading-none;
  }

  &.active {
    .selectCheck {
      @apply bg-black border-black;

      .checkIcon {
        @apply opacity-100;
      }
    }

    .selectLabel {
      @apply font-medium;
    }

    &:hover,
    &:focus-visible {
      .selectCheck {
        @apply bg-black;
      }
    }
  }

  &:hover,
  &:focus-visible {
    @apply text-primary-accent;

    .selectCheck {
      @apply bg-gray-lightest;
    }
  }
}

.resultArea,
.resultPagination {
  @apply p-[30px] flex;
  justify-content: center;

  .currentPage {
    font-weight: 500;
    padding: 5px 10px;
    background-color: black;
    color: white;
    margin: 0 4px;
  }

  .pageButton {
    padding: 5px 10px;
  }

  .paginationButton {
    padding: 0 12px;
  }
}

@media (max-width: 600px) {
  .resultArea {
    @apply p-[8px] flex;
  }

  .resultPagination {
    @apply p-[30px] flex;
    justify-content: center;

    .paginationButton {
      padding: 0 12px;
    }
  }
}

.resultArea {
  @apply h-full flex flex-wrap justify-start gap-0;

  @media (max-width: 911px) {
    padding: 0;
  }
}

.loadingSkeleton {
  @apply flexCenter h-auto;

  .loadingSkeletonInner {
    @apply whFull relative;
  }
}

.productCard {
  @apply w-full bg-white border border-solid border-gray-lightest;
  @apply p-0 m-2;
  min-width: 140px;

  .cardInner {
    @apply relative h-full;

    .thumb {
      @apply relative aspect-square overflow-hidden;
      align-items: center;

      img {
        @apply w-full h-auto;
      }
    }

    .content {
      @apply p-2 pb-[60px];

      @screen sm {
        @apply p-4;
      }

      .productTitle {
        @apply mb-2;
        @include mixin.textEllipsis(2);
      }

      .category {
        @apply mb-2;
      }

      .description {
        @apply text-sm mb-[44px];
        @include mixin.textEllipsis(3);
      }
    }

    .action {
      @apply absolute bottom-0 right-0;
    }
  }

  @media (max-width: 335px) {
    width: 100%;
  }

  @media (max-width: 911px) and (min-width: 336px) {
    width: calc(50% - 24px);
  }

  @media (max-width: 1091px) and (min-width: 910px) {
    width: calc(33.33% - 24px);
  }

  @media (min-width: 1092px) {
    width: calc(25% - 32px);
  }
}